<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitGenAI – AI Fitness Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<section class="hero">
    <div class="left">
        <span class="badge">✨ AI-Powered Fitness</span>

        <h1>FitGenAI</h1>

        <h2>AI-Based Personalized Workout & Diet Planner</h2>

        <p>
            Designed for busy college students. Get customized fitness plans
            that work with your hostel food, tight budget, and packed schedule.
        </p>

       <a href="/user-details" class="cta">Get Started – It’s Free!</a>




        <div class="features">
            <span class="dot green"></span> No Equipment Needed
            <span class="dot blue"></span> Budget Friendly
            <span class="dot orange"></span> Quick Results
        </div>
    </div>


</section>

</body>
</html>
